.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.image {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.author {
  color: rgb(167, 166, 166);
}
.icon {
  position: absolute;
  right: 42%;
}
.time-read {
  color: rgb(196, 194, 194);
  font-size: smaller;
}
.card {
  height: fit-content;
  width: fit-content;
  border-radius: 200px;
  box-shadow: 0px 10px rgb(224, 222, 222);
}
.app {
  padding-top: 30px;
  padding-left: 40%;
}
